<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Code Coffee Raleigh</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="A meeting of minds to explore code and coffee in a collaborative fashion" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Anonymous+Pro" />
	<link rel="stylesheet" type="text/css" href="/css/bean.css" />
</head>

<body>

<h1>About</h1>

<div class="content">

<div class="spacer">
<p>Code and Coffee Raleigh was started by <a href='http://www.programmersparadox.com'>Mark Mzyk</a>.</p>
<p>The concept locally originated with <a href="http://agileartisans.com/">Jared Richardson</a>, who may have passed it on from others.</p>
</div>

<div class="spacer">
<p>Who doesn't like another reason to improve their skills while imbibing coffee?</p>
</div>

</div>

<div class="nav">
    <a href="/">Home</a> | <a href="/colophon">Colophon</a>
</div>

</body>
</html>