<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Code Coffee Raleigh</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="A meeting of minds to explore code and coffee in a collaborative fashion" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Anonymous+Pro" />
	<link rel="stylesheet" type="text/css" href="/css/bean.css" />
</head>

<body>
    
<h1>Colophon</h1>

<div class="content">

<div class="spacer">    
<p>Code Coffee Raleigh runs off of the <a href="http://www.sinatrarb.com/">Sinatra framework</a>.</p>
<p>It is hosted by <a href="http://www.heroku.com/">Heroku</a>.</p>
</div>

<div class="spacer">
<p>The font is <a href="http://www.google.com/webfonts/family?family=Anonymous+Pro&subset=latin">Anonymous Pro</a>, a free monotype font by 
    <a href="http://www.google.com/webfonts/designer?designer=Mark+Simonson">Mark Simonson</a>.</p>
</div>

<div class="spacer">
<p>The image of an <a href="http://www.flickr.com/photos/tonx/2012935/">espresso pull</a> was taken by <a href="http://www.flickr.com/photos/tonx/">tonx</a>.</p> 
<p>It was adapted using <a href="http://www.pixelmator.com/">Pixelmator</a>.</p>
<p>The original and adapted image is licensed under the <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/deed.en">Creative Commons 2.0 license</a>.</p>
<p>The license includes the stipulations that the author be attributed, it not be used for commercial purposes, and that it remain under similar license.</p>
<p>Consider the conditions of the license met by the above text.</p>  
</div>

<div class="spacer">
<p>The code for Code Coffee Raleigh is hosted on <a href="https://github.com/mmzyk/Code-Coffee-Raleigh">Github</a> for anyone to use and improve upon.</p>
</div>

</div>

<div class="nav">
    <a href="/">Home</a> | <a href="/about">About</a>
</div>

</body>
</html>