<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Code Coffee Raleigh</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="A meeting of minds to explore code and coffee in a collaborative fashion" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Anonymous+Pro" />
	<link rel="stylesheet" type="text/css" href="/css/bean.css" />
</head>

<body>

<h1>Code Coffee Raleigh</h1>

<p id="quote">Coffee was the ritual drink of priests who used it as an aid to meditation</p>
<p id="attribution"> - <a href=http://www.flickr.com/photos/nickgray/328079923/>sign in a Costa Coffee Shop, England</a></p>

<div id="nondenominational">
<p>We're a nondenominational group of software developers.</p> 
<p>We get together to exchange ideas and to better ourselves in the software field.</p>
<p>We welcome anyone, regardless of language, software stack, or operating system preference.</p>
</div>

<div id="world">
<p>While we meet in Raleigh, North Carolina, any one from any where in the world is welcome to join us.</p>
<p>All we ask is that you enjoy exploring the craft of code, learning, sharing, and a good cup of coffee.</p>
<p>Come join us.</p>
</div>

<div id="meeting">
<p>Time: TBD</p>
<p>Place: <a href="http://www.newworldcoffeehouse.com/'>New World Coffee House<a/> | <a href='http://maps.google.com/maps/place?cid=17573737096089651360&q=New+World+Coffee+House&dtab=0&sll=35.86005,-78.704127&sspn=0.006295,0.006295&ie=UTF8&ll=35.864865,-78.713779&spn=0,0&z=16">Map</a> </p>
</div>

<a href="">Colophon</a> | <a href="">About</a>

<img src="/img/espresso.png">

</body>
</html>
