body {
    font-family: 'anonymous pro', 'courier new', 'andale mono', monospace;
    font-size: 100%;
    color: #fff;
    /* color: #aaa; */
    line-height: 1.5em;
    background: #000000;
    max-width: 80%;
    padding: 5px;
}

h1 {
    font-size:4em;
    line-height:1.13em;
    padding: 5px;
    margin: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none; 
}

p {
    padding: 1px;
    margin: 1px;
}

a {
    color: #070;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

.content {
    padding: 10px;
}
.spacer {
    padding: 10px;
}

.nav {
    text-align: center;
}

#body {
    width: 500px;
    margin: 0px auto;
}

#nondenominational {
    padding: 5px;
    margin: 5px;
}

#world {
    padding: 5px;
    margin: 5px;
}

#meeting {
    padding: 5px;
    margin: 5px;
}

#quote {
    font-size: 1.5em;
    line-height: 1.33em;
    margin: 10px 10px 0px 10px;
    padding: 5px;
    font-style: oblique;
}

#attribution {
    font-size: 1em;
    line-height: 1.33em;
    margin: 0px 5px 15px 100px;
    padding: 0px;
}